main2.py
__pycache__/
*.pyc
venv/
.env
Online-Course-Management-System-GUI/utils/db_connector.py
Online-Course-Management-System-GUI/utils/db_connector.pyc
Online-Course-Management-System-GUI/utils/db_connector.py~
__pycache__/
*.pyc